# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.crf
*.axf
*.d
*.htm
*.map
*.iex
*.lst
release

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#Keil C
JLink*
*.bak
*.dep
*.uvopt
*.plg

